@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
/* font-family: 'Ubuntu', sans-serif; */
/* font-family: 'Playball', cursive; */
 body{
     background: rgba(114, 236, 230, 0.986);
 }
 .navbar-brand,.nav-link,.btn,.head-1{
    font-family: 'Ubuntu', sans-serif;
    color: white;
    
 }
 .head{
     color: rgb(247, 218, 218);
     font-family: 'Playball', cursive;
     font-weight:900;
     font-size:40px;
     text-align: center;
     text-shadow: rgb(82, 82, 82) 3px 3px 3px;
 }

 #title-text{
     border:1px solid brown;
 }
 .card-body{
     width: 60%;
 }
 .card{
     align-items: center;
     justify-content: center;
     width: 75%;
     background: darkslategrey;
     box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
 }
 .container{
     display: flex;
     flex-direction: column;
     align-items: center;
 }





