@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
/* font-family: 'Ubuntu', sans-serif; */
/* font-family: 'Playball', cursive; */
 body{
     background: rgba(114, 236, 230, 0.986);
 }
 *{
     padding: 0px;
     margin: 0px;
 }
 .navbar-brand,.nav-link,.btn,.head-1{
    font-family: 'Ubuntu', sans-serif;
    color: white;
    
 }
 .head{
     color: rgb(252, 247, 247);
     font-family: 'Playball', cursive;
     font-weight:900;
     font-size:40px;
     text-align: center;
     padding:5px 10px;
     border-radius: 8px;
     background:darkslategrey ;
     text-shadow: rgb(255, 131, 30) -3px 4px 2px;
     box-shadow:rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;;
 }

 #title-text{
     border:1px solid brown;
 }
 .card-body{
     width: 60%;
 }
 .card{
     align-items: center;
     justify-content: center;
     width: 75%;
     background: darkslategrey;
     box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
 }
 .container{
     display: flex;
     flex-direction: column;
     align-items: center;
 }





